{% extends 'base.html' %}
{% block content %}
    <p>{{ question.title }}</p>
    <p>{{ question.body }}</p>
    <p>{{ question.created_at }}</p>
    <p>{{ question.updated_at }}</p>
    <p>{{ question.votes }}</p>
    <p>{{ question.user.username }}</p>
    <p>{{ question.tag }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" name = "question_action" value="upvote">upvote</button>
        <button type="submit" name = "question_action" value="downvote">downvote</button>
        <button type="submit" name = "question_action" value="edit">edit</button>
    </form>

    {% for answer in answers %}
        <p>{{ answer.body }}</p>
       <p>{{ answer.created_at }}</p>
        <p>{{ answer.updated_at }}</p>
        <p>{{ answer.votes }}</p>
        <p>{{ answer.user.username }}</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" name = "answer_action" value="upvote">upvote</button>
            <button type="submit" name = "answer_action" value="downvote">downvote</button>
            <button type="submit" name = "answer_action" value="edit">edit</button>
        </form>

    {% endfor %}
    <div class="answer-form">
        <b>Answer Form:</b>
        <form action="{% url "questions:answer_create" question.id %}" method="post">
            {% csrf_token %}
            {{ answer_form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
